//********** HEADER ***********/
.header {
    color: var(--color-white);
    // border-right: 1px solid rgba(113 119 144 / 25%);
    // padding: 1rem;
    width: 30rem;
    background-color: var(--color-primary);
    background-color: #212136;
    background-color: rgb(40, 48, 70);

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background 0s;
    backface-visibility: hidden;
}

.show-sideNav {
    width: 30rem;
}

.hidden-sideNav {
    width: 8rem;
}

//************************************
