.app .top-navbar {
    font-size: 1.8rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    z-index: 100;
    transition: 0.3s ease all;
    background-color: var(--c-bg-secondary);
}
.dark-theme .app.layout .header__navbar.top-navbar {
    background-color: var(--c-bg-secondary);
}
.header__navbar {
    // padding: 1rem 1.4rem;
    height: 4rem;
    border-radius: 6px;

    // min-height: 4.4rem;
    // width: calc(100% - 30rem - 0rem);
    // @include mq(laptop) {
    //     background-color: red;
    // }

    margin: 1rem 3rem 0 3rem;

    .top-navbar-content {
        box-shadow: var(--shadow-elevation-1);
        -webkit-box-align: stretch;
        align-items: stretch;
        flex-wrap: nowrap;
        height: 100%;
        //- top nv left
        .top-nav-left {
            -webkit-box-flex: 1;
            flex-grow: 1;
            flex-shrink: 1;
            width: 100%;
            display: flex;
            -webkit-box-align: stretch;
            // align-items: stretch ;
            -webkit-box-pack: start;
            justify-content: flex-start;
            flex-wrap: nowrap;
            .main-menu-toggle {
                height: 3rem;
                width: 3rem;
                .menu-toggle-icon {
                    fill: white;
                    cursor: pointer;
                }
            }
            align-items: center;

            .main-menu-toggle {
                @include mq(laptop) {
                    display: none;
                }

                &:hover {
                    cursor: pointer;
                    border-radius: 5px;
                    background-color: hsla(0, 0%, 100%, 0.1);
                }
            }
        }

        .main-menu-toggle .menu-toggle-icon,
        .top-nav-right .fullscreen-wrapper .fullscreen-icon {
            cursor: pointer;
            fill: white;
            &:hover {
                fill: var(--warning);
            }
        }
        .top-nav-right {
            -webkit-box-flex: 1;
            flex-grow: 1;
            flex-shrink: 1;
            width: 100%;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: end;
            justify-content: flex-end;
            .theme-toggle {
                .theme-icon {
                    cursor: pointer;
                    &:hover {
                        fill: var(--warning);
                    }
                }
            }
            .fullscreen-wrapper,
            .theme-toggle {
                height: 3rem;
                width: 3rem;
                &:hover {
                    cursor: pointer;
                    border-radius: 5px;
                    background-color: hsla(0, 0%, 100%, 0.1);

                    .f-wrap svg {
                        cursor: pointer;
                        fill: var(--warning);
                    }
                }
            }

            .theme-toggle .f-wrap {
                height: 2.5rem;
                width: 2.5rem;
            }
        }
        .f-wrap {
            height: 2rem;
            width: 2rem;
        }
    }

    &--button {
        // color: black;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        display: none;

        .f-wrap {
            width: 2.5rem !important;
            height: 2.5rem !important;
        }

        @include mq(laptop) {
            display: block;
        }

        &:active {
            outline: none;
        }
    }
    &--toggle {
        // // margin: 1em;\
        // width: 2rem;
        // color: black;
        // height: 100%;
        // margin-right: 2.5rem;
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;

        .mobile-nav-icon {
            fill: var(--c-icon-fill);
        }

        &:active {
            outline: none;
        }
        span {
            position: absolute;
            top: 50%;
            display: block;
            width: 100%;
            height: 0.24rem;
            background-color: hsl(0, 0%, 73%);
            border-radius: 3px;
            transition: transform 0.3s, background 0.25s ease;
        }

        & > span:before,
        & > span:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            background-color: hsl(0, 0%, 73%);
            border-radius: 3px;
            transition: transform 0.3s, background 0.25s ease;
        }
        & > span:before {
            transform: translateY(-0.75em);
        }
        & > span:after {
            transform: translateY(0.75em);
        }

        div {
            margin: 7px 0;
        }
    }
}

.svg-icon {
    width: 100%;
    height: 100%;
    max-width: 5rem;
    max-height: 5rem;
}
.svg-r {
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.loading-screen {
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    background-color: white;
    width: 100%;
    height: 100%;
    /* transform: translate(-50%, -50%); */
    text-align: center;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        margin-top: 1rem;
    }
}
