//********** Carts **********/

.apexcharts-menu {
    background-color: #282935 !important;
    border: 0px;
}

.vaccine-chart {
    height: 100%;
    width: 95%;
    margin: 0 auto;
}
//************************************
