//********** LOGO **********/
.main-menu .logo {
    width: 95%;
    height: 6rem;
    border-bottom: 0.8px solid var(--color-grey-light-2);
    // height: 4.2rem;
    padding: 1rem 1rem 1rem 1.9rem;
    position: relative;
    margin: 0 auto;
    &__link {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        transition: all 0.2s;

        &--img {
            // margin-bottom: 1rem;
            margin-right: 1.2rem;
            width: 4rem;
            height: 4rem;
            img {
                width: 100%;
                height: 100%;
            }
        }

        &--title {
            font-size: 2rem;
            // animation: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein;
            white-space: nowrap;
            letter-spacing: 0.3rem;
        }

        &:hover {
            cursor: pointer;
            transform: translateX(2px);
            &--title {
                color: linear-gradient(118deg, #7367f0, rgba(115, 103, 240, 0.7));
            }
        }
    }
}

.app .logo-typo {
    color: var(--red-dark);
    font-weight: 700;
}
//************************************
