//******** BASE ********\\
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;

    @media only screen and (max-width: $bp-1200) {
        font-size: 50%;
    }
    @include responsive(large-desktop) {
        font-size: 87%; //- 1rem = 12px, 12/16= 0.75 = 75%
    }
    // //? this is commented because it will be ENABLED on our laptop
    // @include responsive(big-desktop) {
    //     font-size: 75%; //- 1rem = 12px, 12/16= 0.75 = 75%
    // }

    @include responsive(tablet-landscape) {
        font-size: 56.25%; //- 1rem = 9px, 9/16= 0.56.25 = 56.25%
    }

    @include responsive(tablet-portrait) {
        font-size: 50%; //- 1rem = 8px, 8/16= 0.5 = 50%
    }
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #18191a;
    font-family: var(--body-font);
    // background-image: url(https://4kwallpapers.com/images/wallpapers/macos-big-sur-apple-layers-fluidic-colorful-dark-wwdc-2020-5120x2880-1432.jpg);
    // background-image: url(https://i.imgur.com/WkoCXFZ.jpeg);
    // background-image: url(https://w.wallhaven.cc/full/v9/wallhaven-v9g6r3.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    width: 100%;
    height: 100vh;
    background-color: rgb(44, 50, 63);
    background-color: rgb(22, 29, 49);
}

.app {
    background-color: rgba(16 18 27 / 40%);
    // max-height: 860px;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    // border-radius: 14px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-white);
}

.layout {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    height: 100%;
}
.main__container {
    padding: 1.8rem;
    padding: 9rem 2rem 0; //- if top Nav was position fixed
    color: var(--color-white);
    width: 100%;
    overflow: auto;
    position: relative;
    // margin-left: 26rem;
}
.home {
    // width: 30%;
    &-content {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        background-image: url(https://www.transparenttextures.com/patterns/cubes.png),
            linear-gradient(
                to right top,
                #cf4af3,
                #e73bd7,
                #f631bc,
                #fd31a2,
                #ff3a8b,
                #ff4b78,
                #ff5e68,
                #ff705c,
                #ff8c51,
                #ffaa49,
                #ffc848,
                #ffe652
            );
        border-radius: 14px;
        padding: 20px 40px;
    }
}
.about {
    width: 30%;

    &-content {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        background-image: url(https://www.transparenttextures.com/patterns/cubes.png),
            linear-gradient(
                to right top,
                #cf4af3,
                #e73bd7,
                #f631bc,
                #fd31a2,
                #ff3a8b,
                #ff4b78,
                #ff5e68,
                #ff705c,
                #ff8c51,
                #ffaa49,
                #ffc848,
                #ffe652
            );
        border-radius: 14px;
        padding: 20px 40px;
    }
}
//*************************
