//********** TYPOGRAPHY **********/

#caseIncrease {
    color: var(--good);
}
#caseIncrease::before {
    content: '\01F86B';
    margin-right: 0.5rem;
}
.page {
    display: flex;
    align-items: center;
    width: 45%;
    justify-content: space-between;
    background-image: url(https://www.transparenttextures.com/patterns/cubes.png),
        linear-gradient(
            to right top,
            #cf4af3,
            #e73bd7,
            #f631bc,
            #fd31a2,
            #ff3a8b,
            #ff4b78,
            #ff5e68,
            #ff705c,
            #ff8c51,
            #ffaa49,
            #ffc848,
            #ffe652
        );
    border-radius: 14px;
    padding: 20px 40px;

    //************************************
}
