//*********** CHARTS PAGE ************//
.main-content {
    .chart-content {
        &-cards {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    // .chart-data {
    // }
    // .container {
    // }
}

// *********************************** //
