//* ----------------- main-container ---------------- *\\

.main__container {
    padding: 1.8rem;
    padding: 9rem 2rem 0; //- if top Nav was position fixed
    color: var(--color-white);
    // width: 100%;
    overflow: auto;
    position: relative;
    margin-left: 30rem;
    z-index: 50;
}

.side-menu-collapsed {
    .main__container {
        margin-left: 8rem;
    }
    .top__navigation {
        left: 8rem;
    }
}

.layout {
    // overflow: hidden;
    // height: 100%;
}

.app {
    background-color: rgba(16 18 27 / 40%);
    // max-height: 860px;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    // border-radius: 14px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-white);
}
