//* ----------------- main-container ---------------- *\\

.main__container {
    padding: 1.8rem;
    padding: 9rem 2rem 0; //- if top Nav was position fixed
    color: var(--color-white);
    // width: 100%;
    position: relative;
    margin-left: 30rem;
    z-index: 50;
}

.content {
    position: relative;
    transition: all 0.3s ease;
    backface-visibility: hidden;
}

.side-menu-collapsed {
    .main__container {
        margin-left: 8rem;
    }
    .top__navigation {
        left: 8rem;
    }
}

.layout {
    font-size: inherit;
    // overflow: hidden;
    // height: 100%;
}

.app {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-white);
}
